## Module 1 Homework

## Docker & SQL

In this homework we'll prepare the environment 
and practice with Docker and SQL

## Question 1. Knowing docker tags

Run the command to get information on Docker 

```docker --help```

Now run the command to get help on the "docker build" command:

```docker build --help```

Do the same for "docker run".

Which tag has the following text? - *Automatically remove the container when it exits* 

- `--delete`
- `--rc`
- `--rmc`
- `--rm`   <--

## Question 2. Understanding docker first run 

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash.
Now check the python modules that are installed ( use ```pip list``` ). 

```docker run -it entrypoint=bash python:3.9```

What is version of the package *wheel* ?

- 0.42.0  <--
- 1.0.0
- 23.0.1
- 58.1.0

# Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from September 2019:

```wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz```

You will also need the dataset with zones:

```wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv```

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

In [6]:
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

In [6]:
#!gunzip -k green_tripdata_2019-09.csv.gz

In [8]:
!wc -l green_tripdata_2019-09.csv

449064 green_tripdata_2019-09.csv

In [7]:
#!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

Make sure Docker is installed and make a folder "ny_taxi_postgresql_data". Then, run the container with the following terminal command:

```bash
docker run -it \
  -e POSTGRES_USER="root" \
  -e POSTGRES_PASSWORD="root" \
  -e POSTGRES_DB="ny_taxi" \
  -v $(pwd)/ny_taxi_postgresql_data:/var/lib/postgresql/data \
  -p 5432:5432 \
  postgres:13 
```

We can now connect to the database using pgcli (install using '''pip install pgcli''').  In a new terminal window:
```bash
pgcli -h localhost -p 5432 -u root -d ny_taxi
```
Enter the password, which we set as "root".

In [32]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [33]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [34]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [41]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [36]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [37]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000, low_memory=False)
df = next(df_iter)
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 5.27 s, sys: 90.9 ms, total: 5.36 s
Wall time: 10.4 s

1000

In [38]:
while True:
    
    try:
        t_start = time()
        df = next(df_iter)
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print('Inserted another chunk. Chunk time was %.3f seconds.' % (t_end - t_start))
        
    except StopIteration:
        break

Inserted another chunk. Chunk time was 10.744 seconds.
Inserted another chunk. Chunk time was 10.211 seconds.
Inserted another chunk. Chunk time was 10.696 seconds.
Inserted another chunk. Chunk time was 4.605 seconds.

In [42]:
query = '''
SELECT count(1) FROM green_taxi_data;
'''

pd.read_sql(query, con=engine)

    count
0  449063

In [43]:
query = '''
SELECT * 
FROM green_taxi_data
LIMIt 10;
'''

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,...,0.5,0.5,2.36,0.00,None,0.3,14.16,1,1,0.0
1,1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2,1,0.0
2,2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,...,0.5,0.5,0.00,0.00,None,0.3,13.30,2,1,0.0
3,3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,...,0.5,0.5,1.50,0.00,None,0.3,10.30,1,1,0.0
4,4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,...,0.5,0.5,3.06,0.00,None,0.3,18.36,1,1,0.0
5,5,2,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1,7,41,1,6.26,...,0.5,0.5,0.00,6.12,None,0.3,28.42,2,1,0.0
6,6,2,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1,33,37,1,4.34,...,0.5,0.5,3.86,0.00,None,0.3,23.16,1,1,0.0
7,7,1,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1,55,55,1,1.20,...,0.5,0.5,0.00,0.00,None,0.3,3.80,3,1,0.0
8,8,1,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1,55,89,1,0.00,...,0.0,0.5,0.00,0.00,None,0.3,23.00,1,1,0.0
9,9,2,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1,17,17,1,0.14,...,0.5,0.5,0.00,0.00,None,0.3,3.80,2,1,0.0

# Question 3. Count records 

How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18. 

Remember that `lpep_pickup_datetime` and `lpep_dropoff_datetime` columns are in the format timestamp (date and hour+min+sec) and not in date.

- 15767
- 15612
- 15859
- 89009

Let's do this using PGAdmin.  We need postgresql and pgadmin to be running in the same network.  We do this with the following terminal commands:
```bash
docker network create pg_network

docker run -it \
  -e POSTGRES_USER="root" \
  -e POSTGRES_PASSWORD="root" \
  -e POSTGRES_DB="ny_taxi" \
  -v $(pwd)/ny_taxi_postgresql_data:/var/lib/postgresql/data \
  -p 5432:5432 \
  --network=pg_network\
  --name pg_database \
  postgres:13

docker run -it \
  -e PGADMIN_DEFAULT_EMAIL="admin@admin.com" \
  -e PGADMIN_DEFAULT_PASSWORD="root" \
  -p 8080:80 \
  --network=pg_network\
  --name pgadmin \
  dpage/pgadmin4
 ```